@import '~mdb-ui-kit/css/mdb.min.css';
@import '~bootstrap/dist/css/bootstrap.css';

.category {
    border: 2px solid lightblue;
    border-radius: 5px;
}
.item {
    display: flex;
    justify-content: space-between;
    cursor: move;
}
.alert {
    padding: 0.3rem 0.3rem;
}
.del:hover {
    cursor: pointer;
}
.mesure {
    margin-top: 20px;
}
.selected {
    opacity: 0.6;
}